.thumb-div {
  vertical-align: top;
  display: inline-block;
  margin-top:0%;
  margin-bottom:20px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: center;
  Img {
      margin-bottom: 0px;
      margin-top: 5px;
  }
  h2 {
      margin-bottom: 0px;
      margin-top: 0px;
      text-transform: capitalize;
      display: block;
  }
}